@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px                        */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
    font-size: 62.5%;
  }

body{
    line-height: 1.5;
    text-align: center;
}

h1 {
    color: rgb(117, 0, 59);
}

h2 {

}

h3 {

}

h4 {

}

/* pタグ */
p {

}

/* pタグの中にあるspanタグ */
p > span {

}

/* divタグの中にあるpタグ */
div > p {

}

/* class= "attention" */
.attention {

}

/* class= "drink" */
.drink_01 {

}